<div class="container-fluid col-md-12 col-xs-12 col-sm-12 col-lg-12">
  <div class="row" >

    <div class="left hidden-xs col-sm-6 col-md-6 col-lg-6">
      <div class="row">
        <ul class=" hidden-xs col-sm-12 col-md-12 col-lg-12">
          <li class="col-sm-2"><a href="#"></a></li>
          <li class="col-sm-1"><a href="#"></a></li>
          <li class="col-sm-2"><a href="#"></a></li>
          <li class="col-sm-2"><a href="#"></a></li>
          <li class="col-sm-2 logo" style="float:right;"><a href="#">Mo</a></li>
        </ul>
      </div>
    </div>
    <div class="right hidden-xs col-sm-6 col-md-6 col-lg-6">
      <div class="row ">
        <ul class=" hidden-xs col-sm-12 col-md-12 col-lg-12">
          <li class="col-sm-2 logo"><a href="#">Al</a></li>
          <li class="col-sm-1"></li>
          <li class=" col-sm-2 active"><a href="#">Home</a></li>
          <li class="col-sm-2 "><a href="#">Services</a></li>
          <li class="col-sm-2  "><a href="#">Contact</a></li>
        </ul>

      </div>
    </div>
<div class="col-xs-12 hidden-sm hidden-md hidden-lg small-menu" *ngIf="!menuUp">

  <div class="row">

    <ul class="col-xs-12">
      <li class="col-xs-3 logo"><a href="#">MoAl</a></li>
      <li class="col-xs-7"></li>
      <li class="col-xs-2 logo"><a href="#" (click)="toggleMenu()">Menu</a></li>
    </ul>

  </div>

</div>

    <div class="col-xs-12 hidden-sm hidden-md hidden-lg slide-menu" *ngIf="menuUp">

      <div class="row">

        <ul class="col-xs-12">
          <li class="col-xs-12 logo"><a href="#" (click)="toggleMenu()">Close</a></li>
          <li class="col-xs-12 logo"><a href="#">Home</a></li>
          <li class="col-xs-12 logo"><a href="#">Services</a></li>
          <li class="col-xs-12 logo"><a href="#">Contact</a></li>
        </ul>

      </div>

    </div>

  </div>

</div>
