<div class="container col-xs-12" [ngStyle]="{height:innerHeight+'px',paddingTop:innerHeight/6+'px'}">

  <div class="row">


    <h1 class="col-xs-offset-1 col-sm-offset-3 col-xs-11 col-sm-8 ">O<strong>o</strong>ps...!!!</h1>
    <h3 class="col-xs-offset-1 col-sm-offset-3 col-xs-11 col-sm-8" ><b><b style="font-size: 45px">  404</b>- it doesn't look like what you were looking for,</b><br>
      but there is something to learn in every mistake. :) </h3>

    <h4 class="col-xs-offset-1 col-sm-offset-3 col-xs-10 col-sm-6" [ngStyle]="{marginBottom:innerHeight/6+'px'}">
      <br>
      <strong><i class="fa fa-quote-right" aria-hidden="true" id="q"></i></strong>  {{quote}} - {{author}}
    </h4>

  </div>


</div>
