*{

  color:#212121;
}
.kreis {

  border-radius:50%;
  background-color:rgba(35,35,35,0.9);
  height:30px;
  width:30px;
  transition:margin-top 0.5s,margin-left 0.5s;

}

.Llogo{

  height:374px;
margin-top: 40px;
padding-top: 100px;

}

.container{


}
i{

  font-sitz:1000px;
}
.pl {

margin-bottom: 100px;

}
.Rtext{
  height:374px;
  border-left: 1px solid dimgray;
}
.page-header
{

  margin-bottom: 60px;
}
