<div class="container col-xs-12">

  <div class="row">

    <div class="col-xs-3 pic">
      <div class="row" >

        <div>
          <img src="{{project.imagePath}}" class="col-xs-12" alt="" >
        </div>
<div style="padding-left: 20px">
        <h4 class="">Owner:</h4>
        <p>{{project.owner}}</p>

</div>
      </div>
    </div>
    <div class="col-xs-offset-1 col-xs-8 summary">
      <div class="row">
        <h4 class="page-header col-xs-12">{{project.name}}({{project.language}})</h4>
        <p class="col-xs-12">{{project.summary}}</p>

    </div>


    </div>
  </div>

</div>
