<div class="container col-xs-12" [ngStyle]="{height:Height}">
  <div class="row">




    <h1 class="col-xs-6 title" style="text-align: right;  background-color: whitesmoke;border: 0px;padding-right:0px; ">Activ</h1> <h1 class="title" style="color:whitesmoke;text-align: left;background-color: #212121">ities</h1>

    <div class="left-c col-sm-6 ">

      <div class="row">

        <div class="details-c">
          <img src="" alt="">
          <h1></h1>


        </div>
      </div>
    </div>
    <div class="right-c col-sm-6" [ngStyle]="{height:Height}">

    <app-project></app-project>
    <app-project></app-project>
    <app-project></app-project>
    </div>
  </div>


</div>
